.nav {
    background: #000;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 8px calc((100vw-1000px)/2);
    z-index: 10;
}

.navLink {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0px 16px;
    height: 100%;
    cursor: pointer;
    font-size: 18px;
}

.navLink:active{
    color: #15cdfc;
}

.hamburger {
    display: none;
    font-size: 18px;
    color: #fff;
}
.hamburger .hamburger-icon:hover{
    background: #ccc;
    color: #000;
}

.navMenu {
    display: flex;
    align-items: center;
    margin-right: -24px;
}
.signin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}

.signin .navLink{
    border-radius: 4px;
    background: #256ce1;
    height: 35px;
    padding: 0px 22px;
    color: #fff;
    border: none;
    outline: none;
}
.signin .navLink:hover{
    background: #fff;
    color: #000;
    transition: all 0.2s ease-in-out;
}

/* Mobile navigation */
#mobileLink .nav {
    height: 250px;

}
#mobileLink nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
}
#mobileLink .nav .navLink{
    padding: 10px 0px;
    font-size: 20px;
    color: #ccc;
}
#mobileLink .navLink:hover{
    border-bottom: 1px solid #ccc;
}
#mobileLink .navMenu {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}






@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 18px;
        cursor: pointer;
        
    }  
    #mobileLink nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        display: block;
    }
    .navMenu {
        display: none;
    }
    .signin {
        display: none;
    }
}