.nav {
    background: #000;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 8px calc((100vw-1000px)/2);
    z-index: 10;
}

.navLink {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0px 16px;
    height: 100%;
    cursor: pointer;
    font-size: 18px;
}

.navLink:active{
    color: #15cdfc;
}
.hamburger {
    display: none;
    color: #fff;
}
.hamburger-icon {
    display: none;
    font-size: 18px;
}

.navMenu {
    display: flex;
    align-items: center;
    margin-right: -24px;
}
.signin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}

.signin .navLink{
    border-radius: 4px;
    background: #256ce1;
    height: 35px;
    padding: 0px 22px;
    color: #fff;
    border: none;
    outline: none;
}
.signin .navLink:hover{
    background: #fff;
    color: #000;
    transition: all 0.2s ease-in-out;
}






@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 18px;
        cursor: pointer;
        
    }  
    .navMenu {
        display: none;
    }
    .signin {
        display: none;
    }
}